<!DOCTYPE html>
<html>
  <head>
  	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>ka0.me</title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
    <script type="text/javascript" src="javascripts/jquery.min.js"></script>
    <script type="text/javascript" src="javascripts/script.js"></script>
  </head>
  	<body>
		<nav>
			<div id="logo">
				LOGO
			</div>
			<div id="hbg">
				HBG
			</div>
		</nav>
		<div class="menu">
				<ul>
					<li><a href="/">Home</a></li>
					<li><a href="/about">About</a></li>
					<li>Skill</li>
					<li>Activity</li>
					<li>Blog</li>
				</ul>
		</div>
		<div id="content">
			{{{body}}}
		</div>
    </div>
  </body>
</html>
