<div id="home-contrainer">
	<img src="images/helloworld.jpg" width="80%" height="auto">
	<h1 class="header">Hello World!</h1>
	<p class="first">
		<section><span class='hello'>Hi!</span> my name is <span class='hilight'>Udomsub Naikorn</span> You can call me <span class='hilight'>kao</span>. I'm a Computer science student who interested in the Technology, Innovation and Startup that can change the world to more beautiful place. I'm a fast learner. I'm always learning and developing myself.</section>
		<section>I love to learning. I love to joint in every events every competition and every program.</section>
	</p>
</div>
<div class="xxx"></div>
<div class="xxx"></div>
<div class="xxx"></div>
<div class="xxx"></div>
<div class="xxx"></div>
<div class="xxx"></div>
<div class="xxx"></div>
<div class="xxx"></div>
<div class="xxx"></div>
<div class="xxx"></div>
<div class="xxx"></div>
<div class="xxx"></div>
<div class="xxx"></div>
<div class="xxx"></div>
<div class="xxx"></div>
<div class="xxx"></div>
<div class="xxx"></div>
<div class="xxx"></div>
<div class="xxx"></div>
<div class="xxx"></div>